* {
  font-family: 'Roboto', sans-serif;
}

body {
	background: linear-gradient(to bottom right, #4db7fd, #2294ba, #003399);
	background-size: 300% 300%;
	animation: shimmer 8s ease infinite;
  height: 100vh;
}

@keyframes shimmer {
	0% {
		background-position: 0% 50%;
	}
  50% {
    background-position: 100% 50%;
  }
	100% {
		background-position: 0% 50%;
	}
}

nav {
  background-color: rgba(0,0,0,0.5);
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  z-index: 1;
  width: 100%;
  top: 0;
  left: 0;
}

nav heading {
  color: white;
  font-size: 1.5em;
}
nav ul {
  display: flex;
}

nav ul li {
  list-style: none;
}

nav ul li a {
  text-decoration: none;
  color: white;
  font-size: 1.5em;
  padding: 1em 1em;
  flex-grow: 1;
}

nav ul li a:hover {
  color:grey;
}

nav ul li a.active {
  color:grey;
}

h1 {
	font-size: 3em;
	font-weight: bold;
}

h2 {
  font-size: 2em;
}

p {
  font-size: 1.2em;
  line-height: 1.5em;
  margin: 0 0;
}

section {
  max-width: 70em;
  margin: auto auto;
  padding: 6em;
}

section header {
  padding-bottom: 1em;
  align-items: center;
  display: flex;
}

section header img {
  height: 15em;
  width: 15em;
  float: left;
  padding-right: 1.5em;
}

section header headertext {
  position: relative;
}

section ul {
  list-style: circle;
  padding: 0;
}

section ul li {
  font-size: 1.2em;
  margin-bottom: 0.5em;
}