$text: #f2f6fc;
$background: #020408;
$primary: #6699fc;
$secondary: #060c19;
$accent: #2a5cc0;

@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Familjen+Grotesk&family=Geologica:wght@500&display=swap');
$body-font: 'Familjen Grotesk', sans-serif;
$header-font: 'Geologica', sans-serif;
$fancy-font: 'Bungee', cursive;

.hero {
    height: 85vh;
    bottom: 0;
    top: 0;
    .side {
        bottom: 0;
        top: 0;
        height: 85vh;
        width: 100%;
        display: grid;
        place-items: center;
        overflow: hidden;
        position: absolute;
        .side-text {
            font-size: 3vw;
            margin: 0px 25vw;
            width: 75vw;
            .fancy {
                font-family: $fancy-font;
                font-size: 5vw;
            }
        }
    }
    #left-side {
        transition: all 0.075s ease-in-out;
        background: linear-gradient(135deg, $primary, $accent);
        z-index: 2;
        .fancy {
            color: $secondary;
        }
    }
    #right-side {
        background-color: $secondary;
        .fancy {
            background-image: linear-gradient(135deg, $accent, $primary);
            -webkit-background-clip: text;
            background-clip: text;
            color: transparent;
        }
    }
}

.home-link {
    color: $primary;
    text-decoration: none;
    position: relative;
    text-align: center;
    transition: all 0.3s ease-in-out;
    font-size: 1.5rem;
    cursor: pointer;
    &:hover, &:active {
        color: $accent;
    }
}

.about {
    h1 {
        font-size: 2.5rem;
    }
    background-color: $background;
    width: 100%;
    margin: 5vh 0;
    .about-content {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        .about-body {
            margin-top: 5vh;
            display: grid;
            grid-template-columns: auto auto;
            gap: 2.5rem;
            .about-image {
                position: relative;
                img {
                    height: 10rem;
                    width: auto;
                    transition: all 0.3s ease-in-out;
                    border-radius: 2rem;
                }
                :hover {
                    transform: scale(1.4);
                    border-radius: 1rem;
                }
            }
            .about-text {
                p {
                    margin: 0;
                    width: 65vw;
                    font-size: 1.5rem;
                    line-height: 1.8rem;
                    .color {
                        color: $primary;
                    }
                }
            }
            @media screen and (orientation: portrait) {
                display: flex;
                flex-direction: column;
                .about-image {
                    display: grid;
                    place-items: center;
                }
                .about-text {
                    p {
                        width: 80vw;
                        font-size: 1.2rem;
                        line-height: 1.5rem;
                    }
                }
            }
        }
    }
}
