$text: #f2f6fc;
$background: #020408;
$primary: #6699fc;
$secondary: #060c19;
$accent: #2a5cc0;

@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Familjen+Grotesk&family=Geologica:wght@500&display=swap');
$body-font: 'Familjen Grotesk', sans-serif;
$header-font: 'Geologica', sans-serif;
$fancy-font: 'Bungee', cursive;

body {
    background-color: $background;
    color: $text;
    font-family: $body-font;
    margin: 0px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $header-font;
    font-weight: 500;
    margin: 0px;
}

.hero {
    height: 90vh;
    bottom: 0;
    top: 0;
    .side {
        bottom: 0;
        top: 0;
        height: 90vh;
        width: 100%;
        display: grid;
        place-items: center;
        overflow: hidden;
        position: absolute;
        .side-text {
            font-size: 3vw;
            margin: 0px 25vw;
            width: 75vw;
            .fancy {
                font-family: $fancy-font;
                font-size: 5vw;
            }
        }
    }
    #left-side {
        transition: all 0.075s ease-in-out;
        background: linear-gradient(135deg, $primary, $accent);
        z-index: 2;
        .fancy {
            color: $secondary;
        }
    }
    #right-side {
        background-color: $secondary;
        .fancy {
            background-image: linear-gradient(135deg, $accent, $primary);
            -webkit-background-clip: text;
            background-clip: text;
            color: transparent;
        }
    }
}

.about {
    h1 {
        font-size: 2vw;
        margin: 0px;
    }
    background-color: $background;
    width: 100%;
    height: 85vh;
    margin-top: 5vh;
    .about-grid {
        height: 80vh;
        display: grid;
        place-items: center;
        grid-row-gap: 3vh;
        .about-content {
            display: grid;
            grid-template-columns: auto auto;
            gap: 3vw;
            .about-image {
                position: relative;
                img {
                    height: 20vh;
                    width: auto;
                    transition: all 0.3s ease-in-out;
                    border-radius: 3vh;
                }
                :hover {
                    transform: scale(1.4);
                    border-radius: 1.5vh;
                }
            }
            .about-text {
                display: grid;
                grid-row-gap: 3vh;
                p {
                    margin: 0;
                    width: 60vw;
                    font-size: 1.2vw;
                    line-height: 1.8vw;
                    .color {
                        color: $primary;
                    }
                    .glitch {
                        transition: all 0.1s ease-in-out;
                        text-shadow: 0 0 0.25vw $accent, 0 0 0.5vw $accent, 0 0 1vw $accent, 0 0 2vw $accent, 0 0 80vh $accent;
                        color: $primary;
                    }
                }
            }
        }
        .about-button {
            display: grid;
            place-items: center;
            button {
                background: radial-gradient(ellipse at center, $primary 20%, $accent 80%);
                border: none;
                border-radius: 3vh;
                padding: 1vh 2vw;
                font-size: 1.2vw;
                color: $background;
                transition: all 0.3s ease-in-out;
                font-family: $header-font;
                opacity: 0.9;
            }
            :hover{
                opacity: 1;
                box-shadow: 0px 0px 1vh 0px $accent;
                cursor: pointer;
            }
        }
    }  
}

